*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    flex-wrap: wrap;
    margin: 100px auto auto auto;
    display: flex;
    justify-content: space-evenly;
}

.group {
    margin: 40px;
    border: 2px solid #4C5B5C;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.btn{
    font-family: 'Raleway', sans-serif;
    background: none;
    width: 120px;
    height: 50px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid  black;
}

/* group1 */

.g1button{
    position: relative;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 2px solid #4C5B5C;
    color: #4C5B5C;
}

.g1button:hover{
    font-weight: 400;
}

.g1button::before{
    content:"";
    position: absolute;
    background: #FCE850;
    z-index: -1;
    transition: 0.3s all ease;
}

#g1btn1::before{
    left: 0;
    width: 100%;
    height: 0%;
    top:0;
    border-radius: 0 0 50% 50%;
}

#g1btn1:hover::before{
    height: 180%;
}

#g1btn2::before{
    left: 0;
    width: 100%;
    height: 0%;
    bottom:0;
    border-radius: 50% 50% 0 0;
}

#g1btn2:hover::before{
    height: 180%;
}

#g1btn3::before{
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
}

#g1btn3:hover::before{
    width: 180%;
    border-radius: 0 50% 50% 0;
}

#g1btn4::before{
    top:0;
    right: 0;
    width: 0%;
    height: 100%;
}

#g1btn4:hover::before{
    width: 180%;
    border-radius: 50% 0 0 50%;
}

/* group2 */
.group2{
    background-color: #332E3C;
}

.g2button{
    width: 150px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    color: #FFF15B;
    transition: 0.2s all ease;
    border: none;
    overflow:hidden;
}

.g2button:hover{
    color: #332E3C;
    background: #FFF15B;
    box-shadow: 0 0 10px #FFF15B, 0 0 40px #FFF15B, 0 0 80px #FFF15B;
    transition-delay: 0.9s;
    font-weight: 300;
}

.g2span{
    position: absolute;
    display: block;
}

.g2span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFF15B);
}

.g2button:hover .g2span1{
    left: 100%;
    transition: 0.8s;
}

.g2span2{
    top:-100%;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFF15B);
}

.g2button:hover .g2span2{
    top: 100%;
    transition: 0.8s;
    transition-delay: 0.18s;
}

.g2span3{
    bottom:0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFF15B);
}

.g2button:hover .g2span3{
    right: 100%;
    transition: 0.8s;
    transition-delay: 0.38s;
}

.g2span4{
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #FFF15B);
}

.g2button:hover .g2span4{
    bottom: 100%;
    transition: 0.8s;
    transition-delay: 0.58s;
}

/* group3 */
.group3{
    background-color: #FDE0D0;
    border: none;
}

.g3button{
    font-size: 18px;
    font-weight: 300;
    position: relative;
    color: rgb(223, 91, 60);
    border: 2px solid rgb(223, 91, 60);
    border-radius: 25px;
}

.g3span{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FDE0D0;
    transition: 0.5s all ease;
    border-radius: 50%;
}

.g3span1{
    top: -9px;
    left: 10%;
}

.g3span2{
    bottom: -9px;
    right: 10%;
}

.g3button:hover .g3span1{
    left: 80%;
}

.g3button:hover .g3span2{
    right: 80%;
}

/* group4 */
.group4{
    background-color: #D3E6C4;
    border: none;
}

.g4button{
    background: transparent;
    position: relative;
    color: #968A5C;;
    border: 2px solid #968A5C;
    overflow: hidden;
    z-index: 1;
    transition-delay: unset;
}

.g4btn1span1{
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: #968A5C;
    top: -5px;
    left: -120px;
    z-index: -1;
    transition: 0.5s all ease;
}

.g4btn1span2{
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: #968A5C;
    top: -5px;
    right: -120px;
    z-index: -1;
    transition: 0.5s all ease;
}

.g4button:hover{
    color: #D3E6C4;
    transition-delay: 0.25s;
}

/* this was set so that when hovers, the button doesn't go empty for 1 split second. */
#g4btn1:hover{
    transition-delay: 0.1s;
}

.g4button:hover .g4btn1span1{
    left: -5px;
}

.g4button:hover .g4btn1span2{
    right: -5px;
}

.g4btn2span1{
    position: absolute;
    width: 140px;
    height: 40px;
    background-color: #968A5C;
    top: -60px;
    left: -10px;
    z-index: -1;
    transition: 0.5s all ease;
}

.g4btn2span2{
    position: absolute;
    width: 140px;
    height: 40px;
    background-color: #968A5C;
    bottom: -60px;
    left: -10px;
    z-index: -1;
    transition: 0.5s all ease;
}

.g4button:hover .g4btn2span1{
    top: -5px;
}

.g4button:hover .g4btn2span2{
    bottom: -5px;
}

.g4btn3span1{
    position: absolute;
    width: 160px;
    height: 70px;
    background-color: #968A5C;
    top: -100px;
    left: 60px;
    z-index: -1;
    transform: rotate(20deg);
    transition: 0.5s all ease;
}

.g4btn3span2{
    position: absolute;
    width: 160px;
    height: 70px;
    background-color: #968A5C;
    bottom: -120px;
    left: -80px;
    z-index: -1;
    transform: rotate(20deg);
    transition: 0.5s all ease;
}

.g4button:hover .g4btn3span1{
    top: -25px;
    left: -5px;
}

.g4button:hover .g4btn3span2{
    bottom: -40px;
    left: -30px;
} 

.g4btn4span1{
    position: absolute;
    width: 160px;
    height: 70px;
    background-color: #968A5C;
    top: -100px;
    left: -80px;
    z-index: -1;
    transform: rotate(-20deg);
    transition: 0.5s all ease;
}

.g4btn4span2{
    position: absolute;
    width: 160px;
    height: 70px;
    background-color: #968A5C;
    bottom: -120px;
    left: 60px;
    z-index: -1;
    transform: rotate(-20deg);
    transition: 0.5s all ease;
}

.g4button:hover .g4btn4span1{
    top: -30px;
    left: -30px;
}

.g4button:hover .g4btn4span2{
    bottom: -40px;
    left: -10px;
}

/* group5 */
.group5{
    background-color: #FDE0D0;
    border: none;
}

.g5btn{
    background-color: #F1AD9F;
    border-radius: 25px;
    overflow: hidden;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.g5btn > div{
    height: 50px;
    width: 40px;
    background-color: #F1AD9F;
    text-align: center;
    line-height: 55px;
    font-size: 28px;
    color: #FDE0D0;
    transition: 1s all ease;
    cursor: pointer;
}

.g5cover{
    font-family: 'Raleway', sans-serif;
    height: 50px;
    width: 220px;
    background-color: #EB9486;
    position: absolute;
    left: -0px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #FDE0D0;
    cursor: pointer;
    transition: 0.7s all ease;
    transition-timing-function: cubic-bezier(0,.01,1,-0.14)
}

.g5btn:hover .g5cover{
    left: -250px;
}

.g5btn > div:hover{
    color: white;
}

/* group6 */
.group6{
    background-color: #FEEBF5;
    border: none;
}

.g6btn{
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
    background: transparent;
    width: 100px;
    height: 40px;
    outline: none;
    position: relative;
    transition: 0.3s all ease;
    z-index: 1;
    border: none;
    cursor: pointer;
}

.g6btn::before{
    width: inherit;
    height: inherit;
    display: block;
    background-color: #FFCED8;
    position: absolute;
    z-index: -1;
    transition: 0.3s all ease;
}

.g6btn::after{
    content: "";
    width: inherit;
    height: inherit;
    display: block;
    background-color: white;
    position: absolute;
    z-index: -2;
    transition: 0.3s all ease;
}

.g6btn1::after{
    top: 5px;
    left: 5px;
}

.g6btn1::before{
    content: "Home";
    top: -5px;
    left: -5px;
}

.g6btn2::before{
    content: "About";
    top:5px;
    left: 5px;
}

.g6btn2::after{
    top: -5px;
    left: -5px;
}

.g6btn1:hover::before{
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: white;
    transform:translate(10px, 10px);
}

.g6btn1:hover::after{
    background-color: #FFCED8;
    transform:translate(-10px, -10px);
}

.g6btn2:hover::after{
    background-color: #FFCED8;
    transform:translate(10px, 10px);
}

.g6btn2:hover::before{
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: white;
    transform:translate(-10px, -10px);
}

/* group7 */
.group7{
    background-color: #7DE3DC;
    border: none;
}

.g7btn{
    font-weight: 300;
    color: rgba(0, 78, 100, 0.6);
    border: none;
    position: relative;
    transition: 0.8s all ease;
    overflow: hidden;
}

.g7btn::before, .g7btn::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #004E64;
    left: -130px;
    transition: 0.7s all ease;
}

.g7btn::before{
    top: 0px;
}

.g7btn::after{
    bottom: 0px;
}

.g7btn:hover::before, .g7btn:hover::after{
    left: 130px;
}

.g7btn:hover{
    color: rgba(0, 78, 100, 1)
}

/* group8 */
.group8{
    border: none;
    background-color: #000000;
}

.g8btn{
    overflow: hidden;
    font-weight: 300;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s all ease;
}

.g8btn::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    left: -150px;
    top: 10px;
    z-index: 1;
    transform: rotate(45deg);
    transition: none;
}

.g8btnArrow{
    position: relative;
    left: 0;
    transition: 0.5s all ease;
    color: rgba(255, 255, 255, 0.5);
}

.g8btn:hover{
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.g8btn:hover .g8btnArrow{
    left: 5px;
    color: rgba(255, 255, 255, 1);
}

.g8btn:hover::before{
    left: 120px;
    transition: 0.5s all ease;
}

/* group9 */
.group9{
    background-color: #FFB78C;
    border: none;
}

.g9btn{
    width: 140px;
    font-weight: 400;
    position: relative;
    color: #444140;
    border: none;
    transition: 0.3s all ease;
}

.g9btn::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border: 2px solid #ffffff;
    left: 59px;
    top: 21px;
    opacity: 0;
    transition: 0.5s all ease;
}

.g9btn:hover{
    color: #ffffff;
}

.g9btn:hover::before{
    width: 140px;
    height: 50px;
    left: -2px;
    top: -2px;
    opacity: 1;
}

/* group10 */
.group10{
    background-color: #FFE165;
    border: none;
}

.g10btn{
    overflow: hidden;
    background: transparent;
    position: relative;
    color: #6A4F47;
    border: none;
    font-weight: 300;
    z-index: 1;
}

.g10btn::before, .g10btn::after{
    content: "";
    width: 120px;
    background-color: #6A4F47;
    position: absolute;
    z-index: -1;
}

.g10btn::before{
    transition: 0.3s all ease;
    bottom: 0;
    height: 2px;
    left: -130px;
}

.g10btn::after{
    transition: 0.3s all ease;
    height: 50px;
    left: 0;
    bottom: -60px;
}

.g10btn:hover{
    transition-delay: 0.5s;
    color: #FFE165;
}

.g10btn:hover::before{
    left: 0;
}

.g10btn:hover::after{
    transition-delay: 0.4s;
    bottom: 0;
}
